@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --text-color:#8e11cd;
    --hover-color:#ffd801;
}
body{
    font-family: 'M PLUS Rounded 1c', Arial;
}
.navigationBar{
    background: white;
    height: 100px;
    width: 100%;
}
.logo{
    height: 100%;
    line-height: 100px;
    margin-left: 110px;
}
.logo.active,.logo:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.navigationBar ul{
    float: right;
    margin-right: 80px;
}
.navigationBar ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}
.navigationBar ul li a{
    color: var(--text-color);
    border-radius: 10px;
    font-size:30px;
    padding: 7px 13px;
    text-transform: uppercase;
}
a.active,.btn:hover{
    background: var(--hover-color);
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: var(--text-color);
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px)
{
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;  
    }
    .navigationBar ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #45cfff;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .navigationBar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navigationBar ul li a{
        font-size: 30px;
    }
    .btn:hover,.btn.activate{
        background: var(--hover-color);
        color: var(--text-color);
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 600px){
    .navigationBar{
        background: white;
        height: 70px;
        width: 100%;
    }
    .checkbtn{

        line-height: 70px; 
    }
    .logo{
        height: 100%;
        line-height: 100px;
        margin-left: 30px;
    }
    .navigationBar ul{
        top: 70px;
    }
}
main{
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
main h1{
    color: var(--text-color);
}

@media (max-width: 1000px){
    main{
        padding: 30px;
    }
    main h2{
        font-size: 20px;
    }
    main h1{
        font-size: 23px;
    }
}