.welcome-parents {
    background-color: #ffd801; /* Light blue background */
    padding: 40px 30px;
    text-align: center;
    margin: 15px;
    margin-top: 10px;
    border-radius: 40px;
}

.welcome-parents h1 {
    color: #8e11cd;
    font-size: 35px;
    margin-bottom: 20px;
}

.welcome-parents p {
    color: #8e11cd;
    font-size: 25px;
    max-width: 800px;
    margin: 0 auto 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.welcome-button {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 100px;
    font-size: 25px;
    transition: background-color 0.3s;
}

.about-button {
    background-color: #ffffff; /* Blue */
    color: #8e11cd;
}

.about-button:hover {
    background-color: #8e11cd;
    color: #ffd801;
}

@media (max-width: 858px) {
    .welcome-parents {
        padding: 30px 20px;
    }

    .welcome-parents h1 {
        font-size: 30px;
    }

    .welcome-parents p {
        font-size: 20px;
    }

    .welcome-button {
        font-size: 20px;
        padding: 10px 20px;
    }
}

@media (max-width: 600px) {
    .welcome-parents {
        padding: 20px 15px;
    }

    .welcome-parents h1 {
        font-size: 26px;
    }

    .welcome-parents p {
        font-size: 18px;
    }

    .button-container {
        gap: 10px;
    }

    .welcome-button {
        font-size: 18px;
        padding: 8px 16px;
    }
}